---
import ErrorLayout from "../layouts/ErrorLayout.astro";
import { ZodError } from "zod";

interface Props {
    error: unknown;
}

const { error } = Astro.props;
// dont show 500 page if user navigates to it manually
if (error === undefined) return Astro.redirect("/404");
---

<ErrorLayout title="500 - Internal Error" }>
    <div class="flex bg-black min-w-screen min-h-screen">
        <div class="text-white text-center max-w-[50%] m-auto font-mono">
            <h1 class="text-4xl font-bold mb-2">
                {error instanceof ZodError ? "Syntax Error" : "Runtime Error"}
            </h1>
            <p class="p-4 text-white bg-gray-900 break-all">
                {JSON.stringify(error)}
            </p>
        </div>
    </div>
</ErrorLayout>
