---
import Layout from '../layouts/Layout.astro';
import AppSection from '../components/sections/AppSection.svelte';
import WidgetSection from '../components/sections/WidgetSection.svelte';
import AppCategory from '../components/AppCategory.svelte';
import AppCard from '../components/AppCard.svelte';
import DateTime from '../components/widgets/DateTime.svelte';

// automatically scale columns and rows
let auto: boolean = true;
---

<Layout title="Dashboard">
    <div class="flex flex-col z-10">
        <WidgetSection auto={auto}>
            <DateTime />
        </WidgetSection>
        <AppSection auto={auto}>
            <AppCategory heading="Category 1">
                <AppCard name="Test" summary="Summary" icon="icon.png" />
                <AppCard name="Test" summary="Summary" icon="icon.png" />
            </AppCategory>
            <AppCategory heading="Category 2">
                <AppCard name="Test" summary="Summary" icon="icon.png" />
                <AppCard name="Test" summary="Summary" icon="icon.png" />
            </AppCategory>
            <AppCategory heading="Category 3">
                <AppCard name="Test" summary="Summary" icon="icon.png" />
                <AppCard name="Test" summary="Summary" icon="icon.png" />
            </AppCategory>
            <AppCategory heading="Category 4">
                <AppCard name="Test" summary="Summary" icon="icon.png" />
                <AppCard name="Test" summary="Summary" icon="icon.png" />
            </AppCategory>
        </AppSection>
    </div>
</Layout>
